h6 {
    
    color: green;
}


header h1{
    color: olivedrab;
    text-align: center;


}


.seller{
    color:black;
    font-size: large;
    font-weight: 600;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: floralwhite;
    
}

a:link {
    color: #0000ff;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: #ff0000;
}