{% extends "layout.html" %}
{% block title %}
Hades - About us
{% endblock %}
{% block content %}
<h2>This is the corporate security online development team </h2>

<table >
    
    <tr>
      <td>Richard</td>
      <td>solution design </td>
      <td>richard.hyams@syngenta.com</td>
      
    </tr>
    <tr>
      <td>Atikesh</td>
      <td>web scrapping ,API ,splunk admin</td>
      <td>richard.hyams@syngenta.com</td>
    </tr>
    
    
    <tr>
        <td>Arpit</td>
        <td>web scrapping</td>
        <td>richard.hyams@syngenta.com</td>
    </tr>
    
    <tr>
      <td>Faustas</td>
      <td>Data,dashboards & databases</td>
      <td>richard.hyams@syngenta.com</td>
    </tr>
  <tr>
      <td>Michelle</td>
      <td>online advert Takedown</td>
      <td>richard.hyams@syngenta.com</td> 
    </tr>
  <tr>
      <td>Fady</td>
      <td>Reporting</td>
      <td>richard.hyams@syngenta.com</td>
    </tr>
  </table>



{% endblock %}