{% extends "layout.html" %}
{% block title %}
Hades - About us
{% endblock %}
{% block content %}
<h2>This is the corporate security online development team </h2>

<table id="grid-basic" class="table table-condensed table-hover table-striped bootgrid-table">
  <thead>
      <tr>
          <th data-column-id="Name">
              <a class="column-header-anchor sortable">
                  <span class="text">Name</span><span class="icon fa"></span>
              </a>
          </th>
          <th data-column-id="Role">
              <a class="column-header-anchor sortable">
                  <span class="text">Role</span><span class="icon fa"></span>
              </a>
          </th>
          <th data-column-id="Contact">
              <a class="column-header-anchor sortable">
                  <span class="text">Contact</span><span class="icon fa fa-sort-desc"></span>
              </a>
          </th>
      </tr>
  </thead>
  <tbody>
      <tr data-row-id="0">
          <td>Richard</td>
          <td>Solution Design</td>
          <td>Richard.Hyams@Syngenta.com</td>
      </tr>
      <tr data-row-id="1">
          <td>Atikesh</td>
          <td>Web Scrapping, Splunk Admin</td>
          <td>Atikesh.Yelpokonde@Syngenta.com</td>
      </tr>
      <tr data-row-id="2">
        <td>Arpit</td>
        <td>Web Scrapping</td>
        <td>Arpit.Garg@Syngenta.com</td>
     </tr>
      <tr data-row-id="3">
        <td>Faustas</td>
        <td>Data, Databases, Dashboards & Development</td>
        <td>Faustas.Domarkas@Syngenta.com</td>
    </tr>
    <tr data-row-id="4">
      <td>Michelle</td>
      <td>Online Advert Takedown</td>
      <td>Michelle.Oneil@Syngenta.com</td>
    </tr>
    <tr data-row-id="5">
      <td>Marcus</td>
      <td>Online Advert Takedown</td>
      <td>Marcus.Holt@Syngenta.com</td>
    </tr>
  </tbody>
</table>
<table >
    




{% endblock %}
