{% extends "layout.html" %}
{% block title %}
List adverts
{% endblock %}
{% block content %}

<h2>List of {{count}} adverts for {{country}}</h2>


  {% for advert in adverts%}
  <form  name='adverts_form{{advert.advert_id}}' class="listadverts" id="form{{advert.advert_id}}" action="/getadverts/{{country}}" onsubmit="return ValidateForm({{advert.advert_id}})" method="post">
    
    
        <input id="advert_id" name="advert_id" type="hidden" value={{advert.advert_id}}>

        <div class=seller_details id=seller_details>
          <p>{{advert.domain}}</p>
          <a href="{{url_for('seller_information', type=advert.seller)}}"><p>Seller: {{advert.seller}}</p></a>
          <p>Price: {{advert.price}}</p>
          
        </div>

        <input type="hidden" name="seller_name" id="seller_name" value="{{advert.seller}}"></input>
        
        
    
        <div class=seller_statistics>
          <p>Suspected:{{advert.suspected_counterfeiter}}</p>
          <p>Takedowns: {{advert.takedown}}</p>  
          <p>No Action: {{advert.no_action}}</p>
          <p>Detected on: {{advert.date_found}}</p>
        </div>

        <div class=url>
        <a href={{advert.url}} , target="_blank">{{advert.product}}</a>
        </div>

        <select id="category" name="category">
          <option value="{{advert.category}}">{{advert.category}}</option>
          <option value="suspected counterfeiter">Suspected Counterfeiter</option>
          <option value="takedown">Takedown</option>
          <option value="no action">No action - this advert</option>
          <option value="no action all">No action - all sellers adverts</option>
          <option value="syngenta authorised">syngenta authorised</option>
          <option value="not relevant">Not Relevant</option>
          

        </select>
      

        <select id="business" name="business">
          <option value="{{advert.business}}">{{advert.business}}</option>
          <option value="Crop Protection">Crop Protection</option>
          <option value="Seeds">Seeds</option>
          <option value="Professional Solutions">Professional Solutions</option>
        </select>
      
        <textarea id="comments" name="comments" style="height: 50px; width: 200px" style="font-family:sans-serif;font-size:1.2em;" placeholder="(optional) Notes"></textarea>

        <button id="btn{{advert.advert_id}}" type="submit" form="form{{advert.advert_id}}" value="Submit">Submit</button>


  </form>

  {% endfor %}


  
{% endblock %}
