{% extends "layout.html" %}
{% block title %}
List adverts
{% endblock %}
{% block content %}

<h1>List of adverts for {{country}}</h1>

<div class="container-fluid">

  {% for advert in adverts%}
  <form id="form{{advert.advert_id}}" ,action="/adverts" method="post">
    <div class="row">
      <div class="col">
        <input id="advert_id" name="advert_id" type="hidden" value={{advert.advert_id}}>

        <p><small>{{advert.seller}}</small></p>

      </div>
      <div class="col">
        <p><small><a href={{advert.url}}>{{advert.product}}</a></small></p>
        <p></p>

      </div>
      <div class="col">

        <select id="category" name="category">
          <option value="{{advert.category}}">{{advert.category}}</option>
          <option value="Suspected counterfeiter">Suspected counterfeiter</option>
          <option value="Test Purchase">Test Purchase</option>
          <option value="authorised">syngenta authorised</option>
          <option value="False positive">Not Relevant</option>
          <option value="Takedown">Takedown</option>

        </select>
      </div>

      <div class="col">

        <select id="business" name="business">
          <option value="{{advert.business}}">{{advert.business}}</option>
          <option value="Crop Protection">Crop Protection</option>
          <option value="Seeds (BIO)">Seeds (bio)</option>
        </select>
      </div>

      <div class="col">

        <button id="btn{{advert.advert_id}}" type="submit" form="form{{advert.advert_id}}" value="Submit">Submit</button>




      </div>





    </div>
  </form>


  {% endfor %}
</div>

{% endblock %}