{% extends "layout.html" %}
{% block title %}
List adverts
{% endblock %}
{% block content %}

<h2>List of {{count}} adverts for {{country}}</h2>



  {% for advert in adverts%}
  <form  name='adverts_form{{advert.advert_id}}' class="listadverts" id="form{{advert.advert_id}}" action="/getadverts/{{country}}" onsubmit="return ValidateForm({{advert.advert_id}})" method="post">
    
    
        <input id="advert_id" name="advert_id" type="hidden" value={{advert.advert_id}}>

        <div class=seller_details>
          <p>{{advert.domain}}</p>
          <p>Seller: {{advert.seller}}</p>  
          <p>Price: {{advert.price}}</p>
          
        </div>
        

      
      
        <a href={{advert.url}} , target="_blank">{{advert.product}}</a>
        

      
      

        <select id="category" name="category">
          <option value="{{advert.category}}">{{advert.category}}</option>
          <option value="suspected counterfeiter">Suspected Counterfeiter</option>
          <option value="takedown">Takedown</option>
          <option value="no action">No action</option>
          <option value="authorised">syngenta authorised</option>
          <option value="not relevant">Not Relevant</option>
          

        </select>
      

        <select id="business" name="business">
          <option value="{{advert.business}}">{{advert.business}}</option>
          <option value="Crop Protection">Crop Protection</option>
          <option value="Seeds (BIO)">Seeds (bio)</option>
        </select>
      

     

        <button id="btn{{advert.advert_id}}" type="submit" form="form{{advert.advert_id}}" value="Submit">Submit</button>

  </form>


  {% endfor %}


{% endblock %}