{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>
    <center>
        <h1 class="text-info">Welcome to hades <small class="text-muted"> V2</small></h1>
    </center>
</P>


<p></p>
<p></p>
<p></p>
<p></p>

<form id="formCountry" ,action="home" method="POST">
    <select id="country" name="country">

        {%for country in countries%}

        <option value="{{country}}">{{country}}</option>
        {%endfor%}

    </select>

    <button id="btnCountry" type="submit" form="formCountry" value="Submit">Submit</button>

</form>

<p> </p>
<p> </p>
<p> </p>
<p> </p>


{% endblock %}