{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}


<h2>Welcome to Hades V2</h2>






    <form id="formCountry" ,action="home" method="POST">
        <p>Please select a country</p>
        <select id="country" name="country">
        {% for i in combined %}
            {% for country,uncategorised in i.items() %}

            <option value="{{country}}">{{country}} (Uncategorised Ads:{{uncategorised}})</option>
            {%endfor%}
        {%endfor%}
        </select>

        <button class="btncountry" id="btnCountry" type="submit" form="formCountry" value="Submit">Submit</button>

    </form>






{% endblock %}
