{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<header>

    <h1>Welcome to Hades V2</h1>

</header>




<form id="formCountry" ,action="home" method="POST">
    <select id="country" name="country">

        {%for country in countries%}

        <option value="{{country}}">{{country}}</option>
        {%endfor%}

    </select>

    <button id="btnCountry" type="submit" form="formCountry" value="Submit">Submit</button>

</form>

<p> </p>
<p> </p>
<p> </p>
<p> </p>


{% endblock %}