<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

    <script>
        function ValidateForm(advert_id){

            var x= document.forms['adverts_form'+advert_id.toString()]['business'].value;
            var y=document.forms['adverts_form'+advert_id.toString()]['category'].value;
            if (y=='not relevant'){
                return true;
            }
            else if(y=='uncategorised'){
                alert('Please classify the advert');
                return false;
            }
            else if (x=='None'){
                alert('Please classify advert as Seeds, Crop Protection or Professional Solutions');
                return false;

            }



        }


    </script>



</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Review Adverts</a>
        <a href="{{ url_for('help') }}" class="navbar-item">Help</a>
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('takedowns') }}" class="navbar-item">Completed Takedowns</a>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr />
        <footer>
            <h6>HadesV2 Created by Corporate Security Online Team © 2020</h6>
        </footer>
    </div>
</body>

</html>
