<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='animations.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content-box.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fullpage.twoside.css')}}" />    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='image-box.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css')}}" />

    <script>
        function ValidateForm(advert_id){

            var x= document.forms['adverts_form'+advert_id.toString()]['business'].value;
            var y=document.forms['adverts_form'+advert_id.toString()]['category'].value;
            if (y=='not relevant'){
                return true;
            }
            else if(y=='uncategorised'){
                alert('Please classify the advert');
                return false;
            }
            else if (x=='None'){
                alert('Please classify advert as Seeds, Crop Protection or Professional Solutions');
                return false;

            }



        }


    </script>

</head>
<header>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-main navbar-middle">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" >
                        <li><a href="{{ url_for('home') }}"><b>Review</b></a></li>
                        <li><a href="{{ url_for('help') }}"><b>Help</b></a></li>
                        <li class="logo-item"><a href="https://syngenta.sharepoint.com/sites/mySyngenta/"><img src="{{url_for('static', filename='SGlogo1.png')}}" alt="logo" ></a></li>
                        <li><a href="{{ url_for('about') }}"><b>About</b></a></li>
                        <li><a href="https://splunk.syngentaazure.org/en-GB/app/splunk-dashboard-app/e2e/"><b>Reports</b></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>





{% block content %}
{% endblock %}
<footer class="footer footer-center">
    <div class="content">
       <div class="container">
           <div class="row footer-main">
               <img src="{{url_for('static', filename='logo2.png')}}"/>
               <hr class="space xs" />
           </div>
           <div class="row copy-row">
               <div class="col-md-12 copy-text">
                   <div class="tag-row">
                       <span>Hades Created By Corporate Security Online Team © 2021</span>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <!-- SCRIPTS AND STYLES HERE -->
</footer>
</html>
